$statuses: error, success, started, pending;

@each $status in $statuses {
  .#{$status}-border {
    --primaryColor: var(--jobs-#{$status}-color);
    border-left: .25rem solid var(--primaryColor) !important;
  }

  .#{$status}-border-right {
    --primaryColor: var(--jobs-#{$status}-color);
    border-right: .25rem solid var(--primaryColor) !important;
  }
}



.metadata {
  display: flex;
  flex-direction: column;
  align-items: center;

  :not(last-child) {
    margin-bottom: .25rem;
  }
}