# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/
.cache/
.*.swp
*/.ipynb_checkpoints/
*.vec

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea